/*
  ========================================
  006 Responsive design
  ========================================
*/

@media screen and (max-width: 768px) {

	body {
		width: 100vw;
		display: block;
	}

	h1 {
		font-size: 180%;
		line-height: 45px;
	}

	h2 {
		font-size: 150%;
	}

	h3 {
		font-size: 140%;
		margin-top: -10px;
	}

	p {
		font-size: 100%;
	}

	li {
		font-size: 100%;
	}

	code {
		font-size: 120%;
	}

	#container {
		display: block;
	}

	aside {
		width: 100%;
		display: block;
		height: 65px;
		margin: -65px 0 0 0;
		padding: 0 0 0 10px;
		position: fixed;
		right: 0px;
		left: 0px;
		background-color: rgba(35, 57, 91, .9);
	}

	header {
		position: absolute;
		width: 100%;
	}

	#logoDiv {
		position: absolute;
		margin: 5px 0 0 80%;
		display: block;
	}

	#burger {
		float: left;
		width: 50%;
		display: block;
	}

	.images {
		width: 100%;
	}

	.boxModelsImages {
		width: 100%;
	}

	nav {
		padding: 15px;
		margin-left: -12px;
		margin-top: -10px;
		width: 200px;
	}

	#menuBarUl {
		border: 2px solid rgb(107, 247, 237);
		padding-left: 30px;
		margin-left: -12px;
	}

	nav ol, nav:active ol {
		display: none;
		z-index: 1000;
	}

	nav:hover, nav:hover ol {
		display: block;
		position: absolute;
	}

	nav:hover ol {
		margin: 40px 0 0 0;
		background-color: rgb(35, 57, 91);
		padding: 0 10px;
	}


/*MAIN SECTION*/
		section {
			display: block;
			width: 100%;
			text-align: justify;
		}

		#mainSectionId {
			width: 100%;
			margin-top: 65px;
		}

		#interactiveSectionId {
			width: 100%;
			padding: 0 20px 10px 0;
		}


/*FOOTER*/
		footer {
			width: 100%;
			height: 100%;
			padding: 10px;
			font-size: 120%;
			line-height: 30px;
		}

} /*End of mobile design*/
